# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.venv/
env/
venv/
ENV/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Celery
celerybeat-schedule
celerybeat.pid

# Environment variables
.env
.env.*

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

